<ul class="list">
  <% todos.forEach(function(todo, index) { %>
    <li class="item <%= todo.checked ? 'checked' : '' %>" data-index="<%= index %>">
      <input type="checkbox" class="checkbox" <%= todo.checked ? 'checked' : '' %>>
      <span class="title"><%= todo.title %></span>
      <button class="btn-delete">Remove</button>
    </li>
  <% }) %>
</ul>